{% extends "base.html" %}

{% block page_info %}
<title>Reset Password - Life Calendar</title>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2>Reset Password</h2>
    <p>Forgot your password? No worries, you can reset it below.</p>
    <hr>
    {% for msg in error_msg %}
            <div class="alert alert-warning" role="alert">{{ msg }}</div>
    {% endfor %}
    <form method="post">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        
        <div class="form-group">
            <label for="confirm-password">Confirm New Password</label>
            <input type="password" class="form-control" name="confirm-password" id="confirm-password" required>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-info">
        </div>
    </form>
</div>
{% endblock %}