{% extends "base.html" %}

{% block page_info %}
<title>Internal Server Error - Life Calendar</title>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h3>Internal Server Error!</h3>
    <hr>
    <p>Uh oh... looks like it's our fault this time! There seems to be something wrong with Life Calendar, and it's on us.</p>
    <p>We're sorry about any inconvenience caused. If you would like to help us fix this problem, you can quickly <a href="/contact">contact</a> us to get us working on it.</p>
    <p>Just want to go back <a href="/">home</a>?</p>
</div>
{% endblock %}
