{% extends "base.html" %}

{% block content %}

<h1>Download your Life Calendar!</h1>
<p>On this page, you can download a copy of your life calendar, in a few formats. This downloaded copy is high-quality,
    and you can use it to either make your own or simply hang it on a wall (since it syncs with your account if you are
    a registered user).</p>
<p>It supports both blank images and images like the one on the homepage. You can select the granularity as well (from
    weeks to years - shorter/longer is unfeasible).</p>
</div>
<script src="/static/js/simpleHTTP.js"></script>
<script src="/static/js/loadimage.js"></script>

{% endblock %}