{% extends "base.html" %}

{% block content %}
{# move to jumbotron or something similar #}
<script src='https://cdn.tiny.cloud/1/vfjsiz6uj20egqo3tz4aqu8yyhh9428kn7nb4emhd9rmuj7j/tinymce/5/tinymce.min.js'
    referrerpolicy="origin"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<!-- 'classic' theme -->

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>

</script>
<h1>Life Calendar</h1>
<br>
<p><i>Your days are numbered. Make the most of them.</i></p>
<hr>
<p id="missingData"></p>

<div class="btn-group dontShowAtStart resetStartOnClick">
    <button class="btn btn-info mb-4 dropdown-toggle" id="granularity-select" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Granularity
    </button>
    <div class="dropdown-menu">
        <button id="view-decades" class="dropdown-item">Decades</button>
        <button id="view-years" class="dropdown-item">Years</button>
        <button id="view-months" class="dropdown-item">Months</button>
        <button id="view-weeks" class="dropdown-item">Weeks</button>
        <button id="view-days" class="dropdown-item">Days</button>
    </div>
    <button class="btn btn-warning mb-4 ml-2" type="button" id="reset-stuff">Restart</button>
    <!-- Pick the color, for shading buttons -->
    <div class="theme-container"></div>
    <div class="pickr-container"></div>
    <input class="form-control" type="submit" value="Submit" id="shadeButtonConfirm">
    <script src="/static/js/colorpicker.js"></script>
</div>

<div class="output mb-4" role="group">

</div>
<!-- 150 buttons per page (TODO: move to scalable best on zoom in-out (?)) -->
<nav aria-label="Page navigation" id="bottom-pagination-navbar" class="invisible">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled" id="previous-page">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <!-- never modified, only hidden -->
        <li class="page-item page-number active active-bottom" id="page-1"><a class="page-link" href="#">1</a></li>
        <li class="page-item invisible disabled" id="page-1-5"><a href="#" class="page-link">...</a></li>
        <li class="page-item page-number" id="page-2"><a class="page-link" href="#">2</a></li>
        <li class="page-item page-number" id="page-3"><a class="page-link" href="#">3</a></li>
        <li class="page-item page-number" id="page-4"><a class="page-link" href="#">4</a></li>
        <li class="page-item invisible disabled" id="page-4-5"><a class="page-link" href="#">...</a></li>
        <!-- only hidden and modified based on size -->
        <li class="page-item page-number" id="page-5"><a class="page-link" href="#">5</a></li>
        <li class="page-item" id="next-page">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<script src="/static/js/simpleHTTP.js"></script>
<script type="module" src="/static/js/app.js"></script>
{% endblock %}