{% extends "base.html" %}

{% block content %}
{# move to jumbotron or something similar #}
<script src='https://cdn.tiny.cloud/1/vfjsiz6uj20egqo3tz4aqu8yyhh9428kn7nb4emhd9rmuj7j/tinymce/5/tinymce.min.js'
    referrerpolicy="origin"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>

<script type="module" src="/static/js/legend.js"></script>

<script src="/static/js/readUserContent.js"></script>

</script>
<h1>Life Calendar</h1>
<br>
<p><i>Your days are numbered. Make the most of them.</i></p>
<hr class="specialHr">
<p id="missingData"></p>

<div class="dontShowAtStart resetStartOnClick">
    <div class="btn-group" role="group">
        <button class="btn btn-info mb-4 dropdown-toggle" id="granularity-select" type="button" data-toggle="dropdown"
            aria-haspopup="true">
            Granularity
        </button>
        <div class="dropdown-menu">
            <button id="view-decades" class="dropdown-item">Decades</button>
            <button id="view-years" class="dropdown-item">Years</button>
            <button id="view-months" class="dropdown-item">Months</button>
            <button id="view-weeks" class="dropdown-item">Weeks</button>
            <button id="view-days" class="dropdown-item">Days</button>
        </div>
        <button class="btn btn-secondary ml-2 mr-4 mb-4" id="centerPage" type="button">Home</button>
        <button class="btn btn-dark ml-2 mr-4 mb-4" id="showLegendModal" type="button">Show Legend</button>
    </div>
    <br>
    <div class="btn-group" role="group">
        <!-- Pick the color, for shading buttons -->
        <div class="theme-container"></div>
        <div class="pickr-container"></div>
        <!-- NOTE: removing form control enables max -->
        <input class="form-control ml-4" name="submit_add" type="submit" value="Shade" id="shadeButtonConfirm">
        <input class="form-control ml-2 mr-2" name="submit_remove" type="submit" value="Unshade"
            id="unshadeButtonConfirm">
        <script type="module" src="/static/js/colorpicker.js"></script>
    </div>
    <p class="mt-2"><i>Help! Show me the <a href="/tutorial">tutorial</a> or take me to the <a href="#">video
                demo</a>!</i></p>
    <hr>
</div>

<div class="modal" id="legendModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Legend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>All of the colors used and their corresponding meanings are stored below.</p>
                <p>You can click on the text next to the meaning (or the empty part if there is none) to change the
                    meaning/name associated with that color, as long as it isn't one of the top three defaults.</p>
                <p>You can also copy the hex code or click the set picker button to change the picker color to the
                    selected color.</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Color</th>
                            <th scope="col">Meaning</th>
                            <th scope="col">Hex</th>
                            <th scope="col">Set Picker</th>
                        </tr>
                    </thead>
                    <tbody id="legendModalBody">
                        <tr>
                            <th scope="row">1</th>
                            <td><svg height="25" width="25">
                                    <circle cx="12" cy="12" r="10" fill="rgb(220, 53, 69)" />
                                </svg> </td>
                            <td>Past</td>
                            <td>#dc3545</td>
                            <td>
                                <center><svg width="1em" id="svgCopy0" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path fill-rule="evenodd"
                                            d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg></center>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><svg height="25" width="25">
                                    <circle cx="12" cy="12" r="10" fill="rgb(255, 193, 7)" />
                                </svg> </td>
                            <td>Present</td>
                            <td>#ffc107</td>
                            <td>
                                <center><svg width="1em" id="svgCopy1" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path fill-rule="evenodd"
                                            d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg></center>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><svg height="25" width="25">
                                    <circle cx="12" cy="12" r="10" fill="rgb(40, 167, 69)" />
                                </svg> </td>
                            <td>Future</td>
                            <td>#28a745</td>
                            <td>
                                <center><svg width="1em" id="svgCopy2" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path fill-rule="evenodd"
                                            d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg></center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveEditableLegend" data-dismiss="modal">Save
                    Changes</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal"
                    id="cancelEditableLegend">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="output mb-4" role="group">

</div>
<!-- 150 buttons per page (TODO: move to scalable best on zoom in-out (?)) -->
<nav aria-label="Page navigation" id="bottom-pagination-navbar" class="invisible">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled" id="previous-page">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <!-- never modified, only hidden -->
        <li class="page-item page-number active active-bottom" id="page-1"><a class="page-link" href="#">1</a></li>
        <li class="page-item invisible disabled" id="page-1-5"><a href="#" class="page-link">...</a></li>
        <li class="page-item page-number" id="page-2"><a class="page-link" href="#">2</a></li>
        <li class="page-item page-number" id="page-3"><a class="page-link" href="#">3</a></li>
        <li class="page-item page-number" id="page-4"><a class="page-link" href="#">4</a></li>
        <li class="page-item invisible disabled" id="page-4-5"><a class="page-link" href="#">...</a></li>
        <!-- only hidden and modified based on size -->
        <li class="page-item page-number" id="page-5"><a class="page-link" href="#">5</a></li>
        <li class="page-item" id="next-page">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<script src="/static/js/simpleHTTP.js"></script>
<script type="module" src="/static/js/app.js"></script>
{% endblock %}