{% extends "base.html" %}

{% block page_info %}
<title>Sign Up - Life Calendar</title>
<meta name="description" content="Sign up to Life Calendar, the most advanced and visually pleasing life planner out there.">
{% endblock %}

{% block content %}
{#  Signup Page - Jinja #}
<body>
    <center><h2>Sign Up</h2></center>
    <p>Welcome to Life Calendar, we're glad you're here! This website was born out of the necessity to have a highly-customizable, free, and cross-platform solution to viewing one's life at a glance. We believe in <em>showing</em>, not <em>telling</em>, to adopt a writing mantra - and so built this application to <em>show</em> users across the globe how they are using their time, what progress they've made in their life, and what they can strive to achieve.</p>
    <p>If you want to access <em>all</em> of Life Calendar's benefits (downloading a custom chart, viewing progress over time, 
    and being able to log in on any device), then here is the place to sign up!</p>
    <p>The website should be intuitive, but if you need help, you can check out the <a href="/tutorial">text tutorial</a>, <a href="/contact">contact us</a>, or, if you're <em>really</em> desperate, browse through the open-source <a href="https://github.com/Destaq/life-calendar">source code.</a>
    <hr>
    <form method="POST">
    {% if sameerror == True %}
        <div class="alert alert-danger" role="alert">A user with that email address already exists!</div>
    {% else %}
        {% if sameerror == "bad_password" %}
            <div class="alert alert-warning" role="alert">Please make sure your passwords match!</div>
        {% endif %}
    {% endif %}
    <p class="form-text text-muted">Not a new user? You can <a href="/login">log in here</a> instead.</p>
    <div class="form-group">
        {{ form.hidden_tag() }}
        {{ form.email.label(id="emailLabel")}} {{ form.email(class_="form-control", **{"aria-describedby": "emailHelp"}) }}
        <small id="emailHelp" class="form-text text-muted">We won't share your email with anyone else or only send you emails for password resets.</small>
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password_confirm.label }} {{ form.password_confirm(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class_="form-control", style="background-color: #cccccc") }}
    </div>
    <script src="/static/js/checkEmail.js"></script>
</body>
{% endblock content %}