.year-button {
    width: 80px;
    size: 20px;
    /* NOTE: doesn't align properly with very large numbers. Shrink text or look into another solution? */
    text-align: center !important;
    justify-content: center;
}

.invisible {
    display: none;
}

.si {
    display: inline;
}

.dontShowAtStart {
    display: none;
}

.smallInput {
    /* font-size: 30%; */
    /* Would need to be done for all headings, manually. */
    font-size: 100%;
}