.year-button {
    width: 60px;
    text-align: center;
}

.invisible {
    display: none;
}

.si {
    display: inline;
}

.dontShowAtStart {
    display: none;
}

.smallInput {
    /* font-size: 30%; */
    /* Would need to be done for all headings, manually. */
    font-size: 100%;
}